.dropdown-toggle::after {
  vertical-align: middle;
  content: "";
  width: 24px;
  height: 24px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-image: url("../../img/stat_minus_1_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.dropdown-toggle:hover::after {
  transform: rotate(180deg);
  filter: invert(53%) sepia(90%) saturate(3745%) hue-rotate(169deg)
    brightness(103%) contrast(101%);
}
