.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: currentColor;
  width: 64px;
  height: 64px;
  padding: 0;
  border-radius: 0;
  transition: fill 0.3s ease-in;
  // background-color: #cacaca;

  // &:hover {
  //   fill: rgb(26, 134, 235);
  // }
}

.icon--user {
  fill: rgb(26, 134, 235);
}

.icon-socials {
&:hover {
  fill: #ff4a17;
}
}
