<!-- About Section -->
<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>About</p>
  </div>
  <!-- End Section Title -->
  <div class="container mb-5">
    <div class="position-relative mt-4">
      <img src="img/about_us.jpg" class="img-fluid rounded-4" alt="" />
      <a
        href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
        class="glightbox pulsating-play-btn"
        data-gallery="video"
      ></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Левая колонка с изображением -->
      <div class="col-md-6">
        <div class="h-100 overflow-hidden rounded">
          <img
            src="img/about_us.jpg"
            alt="Dive"
            class="img-fluid h-100 w-100 object-fit-cover"
          />
        </div>
      </div>

      <!-- Правая колонка с контентом -->
      <div class="col-md-6">
        <h3>Ваш проводник в подводный мир приключений!</h3>
        <p>Почему выбирают нас?</p>
        <ul>
          <li class="row">
            <div class="col-2">
              <img src="img/insurance_policy.png" alt="Image" />
            </div>
            <div class="col-10">
              <h5>Опытные инструкторы</h5>
              <p>
                Все наши инструкторы сертифицированы по стандартам PADI, SSI и
                CMAS.
              </p>
            </div>
          </li>
          <li class="row">
            <div class="col-2">
              <img src="img/insurance_policy.png" alt="Image" />
            </div>
            <div class="col-10">
              <h5>Опытные инструкторы</h5>
              <p>
                Все наши инструкторы сертифицированы по стандартам PADI, SSI и
                CMAS.
              </p>
            </div>
          </li>
          <li class="row">
            <div class="col-2">
              <img src="img/insurance_policy.png" alt="Image" />
            </div>
            <div class="col-10">
              <h5>Опытные инструкторы</h5>
              <p>
                Все наши инструкторы сертифицированы по стандартам PADI, SSI и
                CMAS.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
