<section id="about" class="about-us page__section_3">
  <div class="container">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>About</p>
    </div>
    <!-- End Section Title -->

    <div class="row">
      <!-- Левая колонка с изображением -->
      <div class="col-md-6">
        <div class="h-100 overflow-hidden rounded">
          <img
            src="img/about_us.jpg"
            alt="Dive"
            class="img-fluid h-100 w-100 object-fit-cover"
          />
        </div>
      </div>

      <!-- Правая колонка с контентом -->
      <div class="col-md-6">
        <div>
          <h2>О клубе "Глуба"</h2>
          <p>
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
            Уникальные погружения, обучение и морские приключения. Мы ждём тебя!
          </p>
          <a href="#signup" class="btn btn-primary">Записаться</a>
        </div>
      </div>
    </div>

    <div class="about-us__container">
      <div class="about-us__img-wrapper">
        <img
          class="about-us__img"
          src="img/about_us.jpg"
          alt="Image of a diver"
        />
      </div>
      <div class="about-us__content">
        <div class="about-us__content-inner">
          <h3 class="about-us__title">
            Ваш проводник в подводный мир приключений!
          </h3>
          <p class="about-us__description">Почему выбирают нас?</p>
          <ul class="about-us__content-list">
            <li class="about-us__content-item">
              <div class="au-card">
                <div class="au-card__inner">
                  <div class="au-card__img-wrapper">
                    <img
                      class="au-card__img"
                      src="img/insurance_policy.png"
                      alt="Image"
                    />
                  </div>
                  <div class="au-card__content">
                    <h5 class="au-card__title">Опытные инструкторы</h5>
                    <p class="au-card__description">
                      Все наши инструкторы сертифицированы по стандартам PADI,
                      SSI и CMAS.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="about-us__content-item">
              <div class="au-card">
                <div class="au-card__inner">
                  <div class="au-card__img-wrapper">
                    <img
                      class="au-card__img"
                      src="img/insurance_policy.png"
                      alt="Image"
                    />
                  </div>
                  <div class="au-card__content">
                    <h5 class="au-card__title">Опытные инструкторы</h5>
                    <p class="au-card__description">
                      Все наши инструкторы сертифицированы по стандартам PADI,
                      SSI и CMAS.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="about-us__content-item">
              <div class="au-card">
                <div class="au-card__inner">
                  <div class="au-card__img-wrapper">
                    <img
                      class="au-card__img"
                      src="img/globe.png"
                      alt="Image"
                    />
                  </div>
                  <div class="au-card__content">
                    <h5 class="au-card__title">Лучшие локации для дайвинга</h5>
                    <p class="au-card__description">
                      Погружения в Нуса Пенида, Туламбен, Менджанган.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="about-us__content-item">
              <div class="au-card">
                <div class="au-card__inner">
                  <div class="au-card__img-wrapper">
                    <img
                      class="au-card__img"
                      src="img/diving_goggles.png"
                      alt="Image"
                    />
                  </div>
                  <div class="au-card__content">
                    <h5 class="au-card__title">Современное оборудование</h5>
                    <p class="au-card__description">
                      Только новое оборудование Aqualung, Scubapro и Cressi.
                      Регулярное обслуживание и сертификация снаряжения.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="about-us__content-item">
              <div class="au-card">
                <div class="au-card__inner">
                  <div class="au-card__img-wrapper">
                    <img
                      class="au-card__img"
                      src="img/hotel.png"
                      alt="Image"
                    />
                  </div>
                  <div class="au-card__content">
                    <h5 class="au-card__title">Уютное проживание у океана</h5>
                    <p class="au-card__description">
                      Отели и виллы в 100 метрах от пляжа. Комфортные номера с
                      кондиционером, Wi-Fi и бассейном.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="about section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3>
          Voluptatem dignissimos provident laboris nisi ut aliquip ex ea commodo
        </h3>
        <img
          src="img/about_us.jpg"
          class="img-fluid rounded-4 mb-4"
          alt=""
        />
        <p>
          Ut fugiat ut sunt quia veniam. Voluptate perferendis perspiciatis quod
          nisi et. Placeat debitis quia recusandae odit et consequatur
          voluptatem. Dignissimos pariatur consectetur fugiat voluptas ea.
        </p>
        <p>
          Temporibus nihil enim deserunt sed ea. Provident sit expedita aut
          cupiditate nihil vitae quo officia vel. Blanditiis eligendi possimus
          et in cum. Quidem eos ut sint rem veniam qui. Ut ut repellendus nobis
          tempore doloribus debitis explicabo similique sit. Accusantium sed ut
          omnis beatae neque deleniti repellendus.
        </p>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span
              >
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >Duis aute irure dolor in reprehenderit in voluptate
                velit.</span
              >
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate trideta
                storacalaperda mastiro dolore eu fugiat nulla pariatur.</span
              >
            </li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident
          </p>

          <div class="position-relative mt-4">
            <img
              src="img/about_us.jpg"
              class="img-fluid rounded-4"
              alt=""
            />
            <a
              href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
              class="glightbox pulsating-play-btn"
              data-gallery="video"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
