<!-- Clients Section -->
<section id="clients" class="clients section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Clients</h2>
    <p>Clients</p>
  </div>
  <!-- End Section Title -->
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="img/remove.jpg" class="img-fluid" alt="" />
      </div>
      <!-- End Client Item -->
      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="img/remove.jpg" class="img-fluid" alt="" />
      </div>
      <!-- End Client Item -->
      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="img/remove.jpg" class="img-fluid" alt="" />
      </div>
      <!-- End Client Item -->
    </div>
  </div>
</section>
<!-- /Clients Section -->
