<section class="news">
  <div class="container">
    <div class="news__container">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>News</h2>
        <p>News<br /></p>
      </div>
      <!-- End Section Title -->
      <div class="news-slider__btns">
        <button
          class="btn-reset news-slider__btn news-slider__btn--prev"
          aria-label="Перейти к предыдущему слайду"
        ></button>
        <button
          class="btn-reset news-slider__btn news-slider__btn--next"
          aria-label="Перейти к следующему слайду"
        ></button>
      </div>
      <div class="swiper news-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="news-slider__img">
              <img src="./img/neom-1.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="news-slider__img">
              <img src="./img/neom-1.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="news-slider__img">
              <img src="./img/neom-3.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="news-slider__nav">
          <div class="swiper-scrollbar news-slider__scroll"></div>
        </div>
      </div>
    </div>
  </div>
</section>
