<section class="pricing">
  <div class="container">
    <div class="pricing__container">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Pricing<br /></p>
      </div>
      <!-- End Section Title -->
      <ul class="pricing__list">
        <li class="pricing__item">
          <div class="pricing__card pricing-card">
            <div class="pricing-card__image ratio ratio-16x9">
              <img
                class="pricing-card__img"
                src="./../img/about_us.jpg"
                alt="Image of a diver"
              />
            </div>
            <div class="pricing-card__body">
              <h5 class="pricing-card__title">Card title</h5>
              <p class="pricing-card__text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </li>
        <li class="pricing__item">
          <div class="pricing__card pricing-card">
            <div class="pricing-card__image ratio ratio-16x9">
              <img
                class="pricing-card__img"
                src="./../img/about_us.jpg"
                alt="Image of a diver"
              />
            </div>
            <div class="pricing-card__body">
              <h5 class="pricing-card__title">Card title</h5>
              <p class="pricing-card__text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </li>
        <li class="pricing__item">
          <div class="pricing__card pricing-card">
            <div class="pricing-card__image ratio ratio-16x9">
              <img
                class="pricing-card__img"
                src="./../img/about_us.jpg"
                alt="Image of a diver"
              />
            </div>
            <div class="pricing-card__body">
              <h5 class="pricing-card__title">Card title</h5>
              <p class="pricing-card__text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
